table {background-color:#ffefdb}
p {text-align:center}
p.he {text-align:justify ; font-weight:normal ; font-size:15pt}
body {background-color:black}
h1 {color:#cd1076 ; text-align:center}
hr {color:black}
h3 {text-align:center ; font-weight:bold}
p.hi {text-align:right}
h4 {text-align:center ; font-weight:bold}
p.ho {text-align:left ; font-weight:normal}
p.ha {text-align:right}
h2 {text-align:center}	
h3.ti {text-align:left ; color:#696969}
p.ee {text-align:right}
